:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* For IE and Edge */
* {
  -ms-overflow-style: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 17vw;
}
.screenWithFlyout {
  position: relative;
  padding-bottom: 17vw;
  background: white;
}
.flexR {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bggreen {
  background-color: #026e2c;
}
.txtgreen {
  color: #026e2c;
}

.bgblack {
  background-color: #111111;
}
.txtblack {
  color: #111111;
}

.bgwhite {
  background-color: #ffffff;
}
.txtwhite {
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.button:hover {
  transform: translate(0, -2px);
}
.button:active {
  transform: translate(0, -4px);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
